{% extends 'blog/base.html' %}
{% block title %}Crear Nuevo Post{% endblock %}
{% block content %}
    <h1>Crear Nuevo Post</h1>
    {% if form.errors %}
        <ul style="color: red;">
            {% for field in form %}
            	{% for error in field.errors %}
            		<li>{{ field.label }}: {{ error }}</li>
            	{% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            	<li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.titulo.label_tag }}
            {{ form.titulo }}
        </div>
        <div>
            {{ form.contenido.label_tag }}
            {{ form.contenido }}
        </div>
        <div>
            {{ form.author.label_tag }}
            {{ form.author }}
        </div>
        <div>
            {{ form.categories.label_tag }}
            {{ form.categories }}
        </div>
        <button type="submit">Crear Post</button>
    </form>
    <a href="{% url 'blog:post_list' %}">Volver a la lista</a>
{% endblock %}